* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  width: 369px;
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
}
body {
  background-color: lightgray;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form label {
  font-size: 1.2em;
}
form input {
  margin-bottom: 10px;
  padding: 6px 0px;
  text-align: center;
}
form button {
  width: 100%;
  padding: 8px 0px;
  margin: 8px 0px;
}
